.header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  max-width: 1920px;
  height: 100px;
  margin: 0 auto;
  background-color: aqua;
}
.logo {
  height: 50px;
}
.header--ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 400px;
  list-style: none;
}
.header--li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5px;
  border-radius: 5px;
}
.header--li.active {
  background-color: rgba(4, 0, 255, 0.4);
}
.header--li:hover,
.header--button:hover {
  cursor: pointer;
  background-color: rgba(4, 0, 255, 0.4);
}
.header--img {
  display: inline-block;
  width: 30px;
}
.header--button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 210px;
  height: 35px;
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
  cursor: pointer;
  border-radius: 5px;
}
.header--wrapper-avatar {
  display: flex;
  align-items: center;
}
.header--avatar {
  width: 80px;
  height: 80px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  border-radius: 50%;
}
